.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.graph {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
}
.two { 
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  text-align:right;
  border-radius: 25px;
  border-color:#C9E2F5;
  margin: 10%; 
  padding: 5%;
  width: 20%;
  height: 5%; 
}
.history {
  grid-column: 3 / 4;
  grid-row: 2 / 9;
  overflow:auto;
  height:350px;
  scrollbar-width: none;

  
}
.historyEvent {
  border-radius: 25px;
  background:#C9E2F5;
  margin: 10%; 
  padding: 5%;
  width: 70%;
  height: 5%; 
}
.historyEventTime {
  text-align: right;
  color:grey;
}

#account {
  float:right;
  font-size:20px;
  margin:10px;
  padding:5px;
  border:5px;
  border-style:solid;
  border-radius: 20px;
  border-color:#C9E2F5;
}
#totalAmount {
  padding:5px;
  border-radius: 25px;
  background:#C9E2F5;
  float:left;
  margin:10px;
}

.comment {
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1);
  padding: 10px;
  text-align: left;
}

.time {
  font-size: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #C9E2F5;
  color: white;
  height:50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.percentage {
  align:left;
  width:10%;
  float:left;
}
.food {
  background: #7AB8FF;
  float:left;
  display:block;
  height:50px;
  width: 30%;
}
.fund {
  background: #6494E8;
  float:left;
  display:block;
  height:50px;
  width: 10%;
}
.cloth {
  background: #6E94FF;
  float:left;
  display:block;
  height:50px;
  width: 20%;
}
.med {
  background: #6ECFFF;
  float:left;
  display:block;
  height:50px;
  width: 10%;
}
.events {
  background: #7AB8FF;
  float:left;
  display:block;
  height:50px;
  width: 10%;
}
.rest {
  background: #6E94FF;
  float:left;
  display:block;
  height:50px;
  width: 20%;
}
